html.dark-mode {
  filter: invert(1) hue-rotate(180deg) brightness(1.2);
}

html.dark-mode .social-logins .social-logo:not(:hover) {
  background-color: #c4ced9 !important;
}

html.dark-mode .social-logins .social-title {
  color: #333 !important;
}

html.dark-mode .login-hero {
  filter: invert(1) hue-rotate(180deg) brightness(0.8);
}
